body .counter {
  padding: 0;
  margin-top: 32%;
}

.fullwidth_intro a {
  color: #ee4982;
}

#petition_signature_form a {
  color: black;
}

#petition_signature_form a:visited,
#petition_signature_form a:hover {
  color: #444;
}

#petition_signature_form input[type=submit] {
  font-family: 'Arial Narrow',Arial,sans-serif;
}
